@font-face {
  font-family: 'General Sans';
  src: url('fonts/GeneralSans-Light.woff2') format('woff2'),
       url('fonts/GeneralSans-Light.woff') format('woff'),
       url('fonts/GeneralSans-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'General Sans';
  src: url('fonts/GeneralSans-Regular.woff2') format('woff2'),
       url('fonts/GeneralSans-Regular.woff') format('woff'),
       url('fonts/GeneralSans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('fonts/GeneralSans-Bold.woff2') format('woff2'),
       url('fonts/GeneralSans-Bold.woff') format('woff'),
       url('fonts/GeneralSans-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

